@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

ul{
    display: inline;
}

body{
    /* font-family: 'TheJamsil5Bold'; */
    /* background-color: #5D5246; */
    color: #e7f4df
}
