<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../static/dj_home.css">
	</head>
	<body>
		<header>
			<h1>Home</h1><!-- 7번 가이드라인 -->
      <nav>
        <a href="dj_home.html">Home</a>
        <a href="dj_introduce.html">Introduce</a>
        <a href="dj_portfolio.html">Portfolios</a>
        <a href="dj_signup.html">SignUp</a>
      </nav>
      <hr>
		</header>
		<main>
			<section>
				<h2>오동재</h2><!-- 7번 가이드라인 -->
				<p>
					서울특별시 강남삼성병원에서 태어나, 잠깐의 타지생활을 제외하고 20년 넘게 줄곧 경기도 성남시에서 살았다. 현재 <!-- 13번 가이드라인--> &lt;<mark>성공회대학교 소프트웨어공학과</mark>&gt;에서 소프트웨어공학 및 컴퓨터공학을 전공 중에 있으며 개발자 지망생이다. 최근 동아리 멋쟁이사자처럼에 들어가 활발한 활동을 이어나가고 있다.
				</p>
				<hr>
			</section>
			<section>
				<h2>2023년도 1학기 수강 과목</h2>
				<ul><!-- 9번 가이드라인 -->
					<li>웹 프로그래밍</li>
					<li>컴퓨터 그래픽스</li>
					<li>백엔드 프레임워크</li>
					<li>크로스플랫폼 모바일 프로그래밍</li>
					<li>컴퓨터 네크워크</li>
					<li>웹 개발 입문</li>
					<li>고급자바 프로그래밍</li>
          <li>자료구조</li>
				</ul>
				<hr>
			</section>
      <section>
        <h2>응원 메세지 보내기</h2>
        <form action="전송받을 URL"><!-- 10번 가이드라인 -->
            <select>
                <option value="cheerup">힘내요</option>
                <option value="sad">슬퍼요</option>
                <option value="good">좋아요</option>
            </select>
            <br>
            <h5>내용</h5>
            <textarea cols="30" rows="10"></textarea><!-- 11번 가이드라인 -->
            <br>
            <button type="button">전송</button>
        </form>
        <hr>
      </section>
			<section>
				<h2>Favorites</h2>
				<table><!-- 8번 가이드라인 -->
					<thead>
						<th>랭킹</th>
						<th>사진</th>
						<th>종류</th>
						<th>설명</th>
					</thead>
					<tr>
						<td>1</td>
						<td><img src="images/콩순.jpg" alt="콩순"><!-- 6번 가이드라인--></td>
						<td><a href="https://www.skhu.ac.kr/skhu/index.do"><!-- 12번 가이드라인-->콩순이</a></td>
						<td>군대에서 전역하면서 데려온 우리집 강아지. 발냄새가 고소하다.</td>
					</tr>
					<tr>
						<td>2</td>
						<td><img src="images/짬뽕.jpg" alt="짬뽕"><!-- 6번 가이드라인--></td>
						<td><a href="https://seohyun-h.goesn.kr/seohyun-h/main.do"><!-- 12번 가이드라인-->짬뽕</a></td>
						<td>진득한 국물의 해물 짬뽕을 좋아함. 아직 우리 동네 "뿅의 전설" 짬뽕을 이기는 짬뽕은 먹어본 적이 없음</td>
					</tr>
				</table>
			</section>
		</main>
		<footer>
      <div>
        Copyright &copy; 멋쟁이사자처럼 11기 성공회대학교 오동재
      </div>
		</footer>
	</body>
</html>
