<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../static/dj_introduce.css">
	</head>
	<body>
		<header>
			<h1>Introduce</h1><!-- 7번 가이드라인 -->
      <nav>
        <a href="dj_home.html">Home</a>
        <a href="dj_introduce.html">Introduce</a>
        <a href="dj_portfolio.html">Portfolios</a>
        <a href="dj_signup.html">SignUp</a>
      </nav>
      <hr>
		</header>
		<main>
			<section>
				<h2>Who am I?</h2><!-- 7번 가이드라인 -->
				<p>
					웹 기술을 중점으로 서울시 구로구 소재의 <!-- 13번 가이드라인--> &lt;<mark>성공회대학교 소프트웨어공학과</mark>&gt;에서 컴퓨터를 배우고 있습니다. <br>현재 3학년에 재학중이며 성장하는 개발자가 되는 것이 목표입니다.
				</p>
				<hr>
			</section>
			<section>
				<h2>Skills</h2>
				<ul><!-- 9번 가이드라인 -->
					<li>Java</li>
					<li>Spring framework</li>
					<li>HTML &amp;<!-- 13번 가이드라인--> CSS</li>
					<li>Python</li>
					<li>Tensorflow</li>
					<li>Pandas &amp; Numpy</li>
					<li>Matplotlib &amp; Seaborn</li>
				</ul>
				<hr>
			</section>
      <section>
        <h2>Comments</h2>
        <form action="전송받을 URL"><!-- 10번 가이드라인 -->
            <select>
                <option value="good">날씨 좋아</option>
                <option value="cloudy">구름 많음</option>
                <option value="rainy">비와요</option>
            </select>
            <br>
            <h5>내용</h5>
            <textarea cols="30" rows="10"></textarea><!-- 11번 가이드라인 -->
            <br>
            <button type="button">전송</button>
        </form>
        <hr>
      </section>
			<section>
				<h2>Education</h2>
				<table><!-- 8번 가이드라인 -->
					<caption><mark>학력사항</mark></caption>
					<thead>
						<th>출신학교</th>
						<th>학교사진</th>
						<th>홈페이지</th>
						<th>전공</th>
						<th>기간</th>
						<th>구분</th>
					</thead>
					<tr>
						<td>성공회대학교</td>
						<td><img src="images/성공회대.jpg" alt="성공회대학교"><!-- 6번 가이드라인--></td>
						<td><a href="https://www.skhu.ac.kr/skhu/index.do"><!-- 12번 가이드라인-->성공회대</a></td>
						<td>소프트웨어공학과</td>
						<td>2019.3~</td>
						<td>재학중</td>
					</tr>
					<tr>
						<td>서현고등학교</td>
						<td><img src="images/서현고.jpg" alt="서현고등학교"><!-- 6번 가이드라인--></td>
						<td><a href="https://seohyun-h.goesn.kr/seohyun-h/main.do"><!-- 12번 가이드라인-->서현고</a></td>
						<td>문과</td>
						<td>2015.3~2018.2</td>
						<td>졸업</td>
					</tr>
				</table>
			</section>
		</main>
		<footer>
      <div>
        Copyright &copy; 멋쟁이사자처럼 11기 성공회대학교 오동재
      </div>
		</footer>
	</body>
</html>
