<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../static/dj_portfolio.css">
	</head>
	<body>
		<header>
			<h1>Portfolios</h1><!-- 7번 가이드라인 -->
      <nav>
        <a href="dj_home.html">Home</a>
        <a href="dj_introduce.html">Introduce</a>
        <a href="dj_portfolio.html">Portfolios</a>
        <a href="dj_signup.html">SignUp</a>
      </nav>
      <hr>
		</header>
		<main>
			<section>
				<h2>Now?</h2><!-- 7번 가이드라인 -->
				<p>
					 현재 <!-- 13번 가이드라인--> &lt;<mark>성공회대학교 소프트웨어공학과</mark>&gt;에서 소프트웨어공학 및 컴퓨터공학을 전공 중에 있으며 개발자 지망생이다. 웹 백엔드를 중점적으로 공부하고 있으며 이유있는 코드를 작성하기 위해 노력 중이다.
				</p>
				<hr>
			</section>
			<section>
				<h2>약력</h2>
				<ul><!-- 9번 가이드라인 -->
					<li>[2019.02 ~ ] 성공회대학교 IT융합자율학부</li>
          <li>[2019.04 ~ 2020.04] 오케스트라 스쿠빌레</li>
					<li>[2020.05 ~ 2022.01] 해군 보수병 만기 전역</li>
					<li>[2022.01 ~ 2023.02] 락밴드 COL 활동</li>
					<li>[2022.03 ~ 2022.07] 알고리즘 스터디 팀장</li>
					<li>[2023.03 ~ ] 자바프로그래밍 스터디 팀장</li>
					<li>[2023.03 ~ ] 멋쟁이사자처럼 아기사자</li>
				</ul>
				<hr>
			</section>
			<section>
				<h2>Favorite Languages</h2>
				<table><!-- 8번 가이드라인 -->
					<thead>
						<th>랭킹</th>
						<th>사진</th>
						<th>종류</th>
						<th>설명</th>
					</thead>
					<tr>
						<td>1</td>
						<td><img src="images/python.jpg" alt="파이썬"><!-- 6번 가이드라인--></td>
						<td><a href="https://www.skhu.ac.kr/skhu/index.do"><!-- 12번 가이드라인-->Python</a></td>
						<td>매우 직관적이고 생산성이 높다.</td>
					</tr>
					<tr>
						<td>2</td>
						<td><img src="images/C.jpg" alt="C"><!-- 6번 가이드라인--></td>
						<td><a href="https://seohyun-h.goesn.kr/seohyun-h/main.do"><!-- 12번 가이드라인-->C</a></td>
						<td>컴퓨터 내부 구조를 파악하는데 이만한 언어가 없다. 자신의 코드가 어떻게 컴퓨터에서 돌아가는지 직관적으로 확인할 수 있다.</td>
					</tr>
				</table>
			</section>
		</main>
		<footer>
      <div>
        Copyright &copy; 멋쟁이사자처럼 11기 성공회대학교 오동재
      </div>
		</footer>
	</body>
</html>
