@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


body{
    font-family: 'OTWelcomeRA'; /*과제 수행번호 5번, 웹 폰트 적용*/
    background-color: #eaf7fe;  /*과제 수행번호 4번, background-color */
}

.mainImg{
    text-align: center;
}
img{
    padding: 20px;
}
ul{
    display: inline-block;
    width: 300px; height: 800px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    margin-top: 60px;
}

table{
    border-collapse: collapse; 
    margin-left: 40px;
    display: inline-block;
}
td{
    border: 5px double rgb(54, 162, 250);   /*과제번호 8번, border속성 활용*/
    text-align: center;
    padding: 20px;
    height: 30px;
    width: 300px;
}

form{
    display: inline-block;
    margin-top: 60px;
    vertical-align: top;
    margin-left: 100px;
    text-align: right;
    margin-right: 200px
}
