@font-face { /*5번 웹폰트 적용*/
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
body{ 
    font-family: 'TheJamsil5Bold';
    text-align: center;
    background-color: aliceblue; /*4번 백그라운드 컬러 사용*/
    background-size: cover;
    margin: 0;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: auto;
}
table, td, th {
    border : 2px solid black;
    border-collapse : collapse;
    margin: auto;
    padding: auto;
}