
@font-face { /* 5번 가이드라인 준수 */
    font-family: 'KimjungchulMyungjo-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body { 
    font-family: 'KimjungchulMyungjo-Bold';
    background-color:skyblue; /* 4번 가이드라인 준수 */
}