@font-face { /* 5번 가이드라인 준수 */
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body { 
    font-family: 'SEBANG_Gothic_Bold';
    background-image: #57c9c9; /* 4번 가이드라인 준수 */
}